{# src/Dahouet/MainBundle/Resources/views/Main/selectionVoilier.html.twig #}

{% extends "DahouetMainBundle:Main:membreConnecte.html.twig" %}
	{% block section %}
        	<section>
	            <div class="article">
					<h1>Inscription à la régate: <u>{{ regate.LIBREG }}</u></h1>
	                <form action="{{ path('selectionEquipage') }}" method="post">
			            <h3>Sélection du voilier de M. {{ proprietaire.nommbr }}</h3>
			            <select name="selectvoilier">
			                {% for voiliers in voilier %}
			                    <option name="selectvoilier" value= "{{ voiliers.NUMVOIL }}">{{ voiliers.NOMVOIL }}</option>
			                {% endfor %}
			            </select>
			            <input type="submit" value="Valider" /> 
            		</form>
	            </div>
	         </section>
    {% endblock %}

