{# src/Dahouet/MainBundle/Resources/views/Main/selectionVoilier.html.twig #}

{% extends "DahouetMainBundle:Main:index.html.twig" %}

	{% block section %}
        	<section>
	            <div class="article">
	                <p>Salut {{ proprio }}</p>
		            <p>Vous avez sélectionné le bateau : {{ nomvoil }}</p>
		            <p>Il a pour numéro de voile : {{ numvoil }}</p>
		            <p>Concourant pour la classe : {{ numclas }}</p>
		            <p>Ces points actuels sont de : {{ nbrpts }}</p>
		            <form action="Regate" method="post">
		                <h3>Sélection de la régate</h3>
		                <select name="regate">
		                    {% for regs in reg %}
		                        <option name="regate" value="{{ regs.NUMREG }}">{{ regs.LIBREG }}</option>
		                    {% endfor %}
		                    <input type="submit" value="Valider" />
		                </select>
		            </form>
	            </div>
	         </section>
    {% endblock %}

